// COLORS
$color-primary: #00a900;
$color-secondary: #a57000;

$color-tertiary-light: rgba(0,139,139, .3);
$color-tertiary-dark: rgba(0,139,139, .4);

$color-login-btn-light:#2196f3;
$color-login-btn-dark:#255784;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-half-transparent:rgba(0,0,0, .5);
$color-transparent:rgba(0,0,0,0);


//NAVBAR
$navbar-height: 8rem;
$dropdown-bg: #242526;
$dropdown-bg-accent: #484a4d;
$dropdown-text-color: #dadce1;
$dropdown-nav-size: 60px;
$dropdown-border: 1px solid #474a4d;
$dropdown-border-radius: 8px;
$dropdown-speed: 500ms;

//FOOTER
$footer-height:15rem;

// FONT
$default-font-size: 1.6rem; //16px as 1 rem is set to 10px in the base


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


// --logoGreen: #00a900;
// --logoBrown:#a57000;
// --boxBG:rgba(0,139,139, .4);
// --boxShadow:rgba(0,139,139, .3)