    .dropdown-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-navbar a {
    color: $dropdown-text-color;
    text-decoration: none;
  }
  
  /* Top Navigation Bar */
  
  /* <nav> */
  .dropdown-navbar {
    height: $dropdown-nav-size;
    background-color: $dropdown-bg;
    padding: 0 1rem;
    border-bottom: $dropdown-border;
  }
  
  /* <ul> */
  .dropdown-navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: $dropdown-bg;
  }
  
  /* <li> */
  .dropdown-nav-item {
    width: $dropdown-nav-size * 0.8 ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Icon Button */
  .icon-button {
    $dropdown-button-size: $dropdown-nav-size * 0.5;
    width: $dropdown-button-size;
    height: $dropdown-button-size;
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;

    &:hover{
        filter: brightness(1.2);
    }

    & svg{
        fill: $dropdown-text-color;
        width: 15px;
        height: 15px;
    }
  }
  
  /* Dropdown Menu */
  
  .dropdown {
    position: absolute;
    top: $navbar-height;
    width: 25rem;
    z-index: 999;
    transform: translateX(-45%);
    background-color: $dropdown-bg;
    border: $dropdown-border;
    border-radius: $dropdown-border-radius;
    padding: 1rem;
    overflow: hidden;
    transition: height $dropdown-speed ease;

    & a{
      color: $dropdown-text-color;
      text-decoration: none;
    }
  }
  
  .menu {
    width: 100%;
  }
  
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: $dropdown-border-radius;
    transition: background $dropdown-speed;
    padding: 0.5rem;

    &:hover{
        background-color: #525357;
    }

    & .icon-button{
        margin-right: 0.5rem;

        &:hover{
            filter: none;
        }
    }

    & .icon-right{
        margin-left: auto;
    }
  }



  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all $dropdown-speed ease;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all $dropdown-speed ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
    position: absolute;
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all $dropdown-speed ease;
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all $dropdown-speed ease;
  }
  